body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Icon css styles */

.custom-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.marker {
  display: inline-block; 
}

.marker-icon img {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
}

.marker-beak {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  position: absolute; 
  bottom: -10px; 
  left: 50%; 
  transform: translateX(-50%); 
}

.leaflet-div-icon {
  background: unset !important;
  border: unset !important;
}




/* Popup css styles */

.leaflet-popup-close-button {
  display: none;
}

  .request-popup .leaflet-popup-content-wrapper {
    margin: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
  }

  .leaflet-popup-content {
    width:auto !important;
    max-width: auto;
    border-radius: 20px;
    padding: 0px;
    margin: 0px;
    }

    .leaflet-popup-tip {
      background: rgba(0, 0, 0, 0) !important;
      box-shadow: none !important;
      margin: 0px;
      padding: 0px;
    }


.request-popup .leaflet-popup-content-wrapper img {
  max-width: 70%; 
  border-radius: 10px;
  margin: 0px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0,0,0,0.0) !important;
}