body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-div-icon {
  background: unset !important;
  border: unset !important;
}

.custom-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.marker {
  display: inline-block; 
}

.marker-icon img {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.marker-beak {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid white;
  position: absolute; /* Add position: absolute */
  bottom: -10px; /* Position the beak at the bottom */
  left: 50%; /* Center the beak horizontally */
  transform: translateX(-50%); /* Adjust for centering */
}